<a href="https://colab.research.google.com/github/Pipickin/Algorithms/blob/main/Tasks/Segments_and_dots%3B_Expand_into_the_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cover Segments

In [ ]:
data = [(1, 2), (2, 6), (5, 10), (1, 4), (5, 11), (1, 9)]
data.sort(key=lambda tup: tup[1])

data

[(1, 2), (1, 4), (2, 6), (1, 9), (5, 10), (5, 11)]

In [ ]:
def cover_segments(data):
  data.sort(key=lambda tup: tup[1])
  
  i = 1
  r0 = data[0][1]
  points = [r0]
  
  if len(data) == 1:
    return i, points

  for l, r in data[1:]:
    if l >= r0:
      i += 1
      r0 = r
      points.append(r0)

  return i, points

In [ ]:
cover_segments(data)

(2, [2, 6])

In [ ]:
def main():

    n = int(input())
    data = [[int(x) for x in input().split()] for i in range(n)]

    number, points = cover_segments(data)
    print(number)
    print(" ".join(repr(p) for p in points)) 

if __name__ == "__main__":
    main()

1
1 2
1
2

In [ ]:
n = int(input())

6

In [ ]:
data = []
x = tuple(map(int, input().split()))
data.append(x)

24 124

In [ ]:
[[int(x) for x in input().split()] for i in range(n)]

12 42
42 42
42 2
1 2
40 100
2 10

[[12, 42], [42, 42], [42, 2], [1, 2], [40, 100], [2, 10]]

In [ ]:
a = [1, 4, 4, 5, 6, 7, 7]
b = set(a)
print(" ".join(repr(p) for p in b))

1 4 5 6 7

# Expand into the sum

In [ ]:
def expand_in_sum(n):

  if n == 1:
    return 1, [1]

  terms = []
  i = 0
  for reduce in range(1, n):
    new_n = n - reduce
    if new_n > reduce:
      terms.append(reduce)
      i += 1
      n = new_n
    else:
      terms.append(n)
      i += 1
      break
    
  return i, terms

In [ ]:
expand_in_sum(10)

(4, [1, 2, 3, 4])

In [ ]:
def main():

    n = int(input())

    count, numbers = expand_in_sum(n)
    print(count)
    print(" ".join(repr(number) for number in numbers)) 

if __name__ == "__main__":
    main()

2
1
2

In [ ]:
def sum_by_discrim(n):
  k = int((-1 + (1 + 8*n)**0.5)/2)
  print(k)

  s = 0
  for i in range(1, k):
    print(i, end=' ')
    s += i
  
  print(n - s)

In [ ]:
sum_by_discrim(10)

4
1 2 3 4